
[PATH]


[LD_LIBRARY_PATH]


[DUMMY]
/ab
/cd

[BAR]
/123
/456

[DUMMY2]
${DUMMY}$BAR/d
$DUMMY/casdf

[SELF_COMPILED_LIBS]
libpcre
libhmsbeagle
libssl
zlib

[MY_VAR]
MyValue


#
# ".install_root" is a special section.
#
[.install_root]
~/build/$SELF_COMPILED_LIBS

