
###############################################################################
# Add your personal $PATH here
###############################################################################
[PATH]
/your/path1/bin
/your/path2/bin
/your/path3/bin


###############################################################################
# The following lines demonstrate how variant expansion works.
# Generally speaking, it's a cartesian product.
#
# With
#   FOO=ab:cd
#   BAR=123:456
# We have
#   $FOO$BAR=ab123:ab456:
###############################################################################
[FOO]
ab
cd

[BAR]
123
456

# DUMMY will be "ab123-xyz:ab456-xyz:cd123-xyz:cd456-xyz:ab233:cd233"
[DUMMY]
$FOO$BAR-xyz
${FOO}233


###############################################################################
# Use '$$' to escape a '$' character.
# Special characters are OK in the values, like:
# single quotes, double quotes, whitespaces, bask-slashes...
#
# In the following example, MY_VAR =
#   M\y$V:a "lu'e"
###############################################################################
[MY_VAR]
M\y$$V:a "lu'e"


###############################################################################
# Make it easy to set environment variables:
# - Multiple names in the same "[" "]" separated by whitespaces will be
#     assigned the same value
# - Dot-started names will NOT be exported, but they can be referenced in
#     other variables (for convenience)
#
# The following statements make it easy to add your self-compiled library's
#   paths into environment variables: LIBRARY_PATH, C_INCLUDE_PATH &
#   CPLUS_INCLUDE_PATH for compilers; PATH & LD_LIBRARY_PATH for executables,
#   MANPATH for man-documentation, PKG_CONFIG_PATH for pkg-config.
# If you place all your compiled library in the same root directory (NOT the
#   same "--prefix" option!), like ~/build, it's quite convenient to write
#   like the following. Now if you want to compile openssl, just run
#     ./configure --prefix=$HOME/build/libssl <other_options>
#     make && make install
#   and uncomment the libssl line below. Then run 'env-reload' - All done.
#
# As you have this tool, please DO NOT:
#   - Compile many libraries/executables with the same "--prefix" option
#   - Compile a library/executable with default option "--prefix" = /usr/local
#
###############################################################################

[.my_compiled_libs]
libpcre
libhmsbeagle
#libssl

[.my_install_root]
~/build/${.my_compiled_libs}
/usr/local/cuda-8.0

[LIBRARY_PATH LD_LIBRARY_PATH]
${.my_install_root}/lib
${.my_install_root}/lib64

[PKG_CONFIG_PATH]
${.my_install_root}/lib/pkgconfig

[C_INCLUDE_PATH CPLUS_INCLUDE_PATH]
${.my_install_root}/include

[MANPATH]
${.my_install_root}/share/man

[PATH]
${.my_install_root}/bin
